---
apiVersion: policy.open-cluster-management.io/v1
kind: ConfigurationPolicy
metadata:
  name: cluster-monitoring-config
spec:
  remediationAction: enforce
  severity: low
  object-templates-raw: |
    {{- $isLocalCluster := (ne "" "{{hub index .ManagedClusterLabels "local-cluster" hub}}") }}
    {{- $obsEnabled := false }}
    {{- $hubInfo := "" }}
    {{- $secretSuffix := ""}}

    {{- $obsHubInfoSecret := (lookup "v1" "Secret" ($isLocalCluster | ternary "open-cluster-management-observability" "open-cluster-management-addon-observability") "hub-info-secret") }}
    {{- if $obsHubInfoSecret }}
      {{- $obsEnabled = true }}
      {{- $hubInfo = (index $obsHubInfoSecret.data "hub-info.yaml") | base64dec | fromYaml }}
      {{- if (index $hubInfo "hub-cluster-id") }}
        {{- $secretSuffix = (printf "-%s" (index $hubInfo "hub-cluster-id")) }}
      {{- else if (index $hubInfo "hub-cluster-domain") }}
        {{- $secretSuffix = (printf "-%s" (index $hubInfo "hub-cluster-domain")) }}
      {{- end }}
    {{- end }}

    - complianceType: musthave
      objectDefinition:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: cluster-monitoring-config
          namespace: openshift-monitoring
        data:
          config.yaml: |
            alertmanagerMain:
              enableUserAlertmanagerConfig: true
              nodeSelector:
                node-role.kubernetes.io/{{ hasNodesWithExactRoles "infra" | ternary "infra" "worker" }}: ""
              tolerations:
                - operator: Exists
                  key: node-role.kubernetes.io/infra
              volumeClaimTemplate:
                spec:
                  resources:
                    requests:
                      storage: 10Gi
                  storageClassName: gp3-csi

            enableUserWorkload: true

            nodeExporter:
              collectors:
                buddyinfo: {}
                cpufreq: {}
                ksmd: {}
                mountstats: {}
                netclass: {}
                netdev: {}
                processes: {}
                systemd: {}
                tcpstat: {}

            prometheusK8s:
              nodeSelector:
                node-role.kubernetes.io/{{ hasNodesWithExactRoles "infra" | ternary "infra" "worker" }}: ""
              tolerations:
                - operator: Exists
                  key: node-role.kubernetes.io/infra

    {{- if $obsEnabled }}
              additionalAlertmanagerConfigs:
              - apiVersion: v2
                bearerToken:
                  key: token
                  name: observability-alertmanager-accessor{{ $secretSuffix }}
                scheme: https
                staticConfigs:
                - {{ trimAll "/" (printf "alertmanager-open-cluster-management-observability.%s" (regexFind "apps.*?/" (index $hubInfo "observatorium-api-endpoint"))) }}
                tlsConfig:
                  ca:
                    key: service-ca.crt
                    name: hub-alertmanager-router-ca{{ $secretSuffix }}
                  insecureSkipVerify: false
    {{- end }}
              externalLabels:
                instance_name: {{ $n := split "." (lookup "config.openshift.io/v1" "Infrastructure" "" "cluster").status.apiServerURL }}{{ $n._1 }}
                managed_cluster: {{ fromClusterClaim "id.openshift.io" }}
                product: {{ fromClusterClaim "product.open-cluster-management.io" }}
              resources:
                requests:
                  cpu: 200m
                  memory: 2Gi

              retention: 7d
              retentionSize: 100GB

              volumeClaimTemplate:
                spec:
                  resources:
                    requests:
                      storage: 100Gi
                  storageClassName: gp3-csi


    {{/* ##  group all remaining components together since the only config is for infra nodes  ## */}}
    {{- range $key := (list "prometheusOperator" "kubeStateMetrics" "openshiftStateMetrics" "telemeterClient" "thanosQuerier")}}
            {{ $key }}:
              nodeSelector:
                node-role.kubernetes.io/{{ hasNodesWithExactRoles "infra" | ternary "infra" "worker" }}: ""
              tolerations:
                - operator: Exists
                  key: node-role.kubernetes.io/infra
    {{- end }}
